nav{
    background: whitesmoke;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav img{
    width: 60px;
    height: 60px;
}
nav a{
    float: left;
    color: #474040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    top: 40px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
nav a.active {
    background-color: rgb(98, 104, 98);
    color: white;
}

nav > div{
    display: inline;
}
.imagen-centro{
    position: relative;
    margin-left: 45%;
    top: 20px;
}
.compartir{
    position: absolute;
    right: 20px;
    top: 40px;
}
.modulos{
    position: absolute;
    left: 20px;
    top: 40px;
}
.contenedor{
    margin-top: 120px;
    width: 30%;
}

.contenedor img{
    width: 900px;
    margin-left: 520px;
}
.contenedor-texto{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 20%;
}

.contenedor-galeria{
    position: relative;
    width: 50%;
}
.btn-conf{
    background: aqua;
    color: white;
    padding: 40px;
    border: none;
}
.btn-def{
    background: black;
    color: white;
    padding: 10px;
    margin-left: -6px;
    border: none;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .contenedor-galeria:hover .image {
    opacity: 0.3;
  }
  
  .contenedor-galeria:hover .middle {
    opacity: 1;
  }

.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}



button:hover{
    transform: scale(1.1);
    transition: all .2 ease-out;
}

a:hover{
    animation-timing-function: linear;
}

.text {
    color: white;
    font-size: 16px;
    /* padding: 39%; */
    height: 100%;
    background-color: rgba(21, 136, 182, 0.63);
    text-align: center;
}